*

!.gitignore
!LICENSE
!README.md
!setup.sh
!set-lain-wallpaper.sh
!starship.toml
!switch-theme.sh

!assets/
!assets/*
!assets/lain/
!assets/lain/*

!btop/
!btop/btop.conf
!btop/themes/
!btop/themes/*.theme

!fastfetch/
!fastfetch/*.jsonc

!fish/
!fish/config.fish
!fish/fish_plugins

!ghostty/
!ghostty/config

!sketchybar/
!sketchybar/colors-dark.sh
!sketchybar/colors-dawn.sh
!sketchybar/sketchybarrc
!sketchybar/plugins/
!sketchybar/plugins/*.sh

!yabai/
!yabai/yabairc

!zsh/
!zsh/ricing.zsh
